body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
    flex-direction: column;
}
h1{
    position:absolute;
    top:10px;
}
.processbar{
    display: flex;
    flex-direction: column;
}
input{
    width:250px;
    padding:5px 0;
}
label{
    display: inline-block;
    border:1px solid black;
    width:40px;
    margin:0 10px;
    text-align:center;
    background-color: white;
}