* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #87CEEB;
    flex-direction: column;
}
h1{
    padding:10px;
}
.container {
    display: flex;
    flex-direction: column;
    border: 2px solid #274472;
    border-radius: 10px;
    height: 45vh;
    padding: 20px 10px;
    padding-top: 10px;
    background:#4682B4;
}

.citysearch {
    margin: 20px 5px;
}

input {
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    overflow: hidden;
    margin:0;
}

p {
    font-size: 24px;
    padding:10px 5px;
    text-align: center;
    color:#F8F8FF;
}
#invalid{
    padding:0;
    margin:0;
    display:none;
}
h2{
    margin:20px;
    padding:5px;
}